<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <a href="#" class="user-link">About Deloitte</a>
            <a href="#" class="user-link">Privacy Notice</a>
            <a href="#" class="user-link">Cookies Policy</a>
            <a href="#" class="user-link">Disclaimer</a>
            <a href="#" class="user-link">Security Policy</a>
            <a href="#" class="user-link">Cookie Settings</a> 
             
        </div>
        <div class="col-sm-4">
        <p class="copyright">Copyright © 2024 Deloitte Touche Tohmatsu Limited</p>
        </div>
        <div class="col-sm-4">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-instagram"></i>
        </div>
      </div>
</div>
