<!-- <div class="container-fluid">
    <h5 class="hs">Our Case Studies</h5>
<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="IndustryReports-tab" data-bs-toggle="tab" data-bs-target="#IndustryReports" type="button" role="tab" aria-controls="IndustryReports" aria-selected="true">Industry Reports</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="DeloitteAssets-tab" data-bs-toggle="tab" data-bs-target="#DeloitteAssets" type="button" role="tab" aria-controls="DeloitteAssets" aria-selected="false">Deloitte Assets</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="Synergize-tab" data-bs-toggle="tab" data-bs-target="#Synergize" type="button" role="tab" aria-controls="Synergize" aria-selected="false">Synergize</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="IndustryReports" role="tabpanel" aria-labelledby="IndustryReports-tab">
        <div class="row">
            <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="https://brandspace.deloitte.com/downloads/626b2cbca240a/lg_shutterstock_469338869.jpg" alt="Card image">
            <div class="card-body">
              <h6 class="card-title">World Economic Form</h6>
              <p class="card-text"><a href="https://www.deloitte.com/global/en/issues/climate/the-catalytic-potential-of-artificial-intelligence-for-earth-observation.html">At the 54th annual meeting of WEF, Deloitte Space and Deloitte Sustainability.. 
            </a>.</p>
              <div class="row">
                <div class="col-sm-5">
               <p>27 Jun 2024  |</p>
                </div>
                <div class="col-sm-7">
                   <b><p>Oina Kerchner</p></b>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="https://brandspace.deloitte.com/downloads/5d76b3048a3e3/lg_shutterstock_585502937.jpg.jpg" alt="Card image">
                <div class="card-body">
                  <h6 class="card-title">Nasscom</h6>
                  <p class="card-text"><a href="https://www2.deloitte.com/in/en/pages/strategy-operations/articles/emerging-technology-hubs-of-india-nasscom.html">Deloitte India has published a detailed industry report on the market potential of..
                </a>.</p>
                  <div class="row">
                    <div class="col-sm-5">
                   <p>27 Jun 2024  |</p>
                    </div>
                    <div class="col-sm-7">
                       <b><p>Oina Kerchner</p></b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="https://brandspace.deloitte.com/downloads/5d7be318f2be9/lg_shutterstock_401914537.jpg.jpg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title">Indian Space Association</h6>
                      <p class="card-text"><a href="https://www2.deloitte.com/in/en/pages/public-sector/articles/Indias-booming-space-economy-opportunities-for-downstream-spacetech.html">The report was co-published with the space and software industry..
                    </a>.</p>
                      <div class="row">
                        <div class="col-sm-5">
                       <p>27 Jun 2024  |</p>
                        </div>
                        <div class="col-sm-7">
                           <b><p>Oina Kerchner</p></b>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
    </div>
    <div class="tab-pane fade" id="DeloitteAssets" role="tabpanel" aria-labelledby="DeloitteAssets-tab">
        <div class="row">
            <div class="col-sm-4">
        <div class="card assets">
            <img class="card-img-top" src="https://brandspace.deloitte.com/downloads/5f15d5420407c/lg_450769843.jpg.jpg" alt="Card image">
            <div class="card-body">
              <h6 class="card-title">Google Earth Engine</h6>
              <p class="card-text"><a href="https://www.deloitte.com/global/en/alliances/google.html">Deloitte UK in partnership with Google is building use-cases on top of Google Earth Engine..

            </a>.</p>
              <div class="row">
                <div class="col-sm-5">
               <p>27 Jun 2024  |</p>
                </div>
                <div class="col-sm-7">
                   <b><p>Oina Kerchner</p></b>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card assets">
                <img class="card-img-top" src="https://brandspace.deloitte.com/downloads/6312a2472aa8c/lg_GettyImages-1336250828.jpg" alt="Card image">
                <div class="card-body">
                  <h6 class="card-title">AWS</h6>
                  <p class="card-text"><a href="https://www.deloitte.com/au/en/Industries/technology/research/tech-trends.html?id=au:2ps:3gl:4con-techtrends2024-2024::6con:20240404::int-wt-sea&utm_source=google&utm_medium=cpc&utm_campaign=con-techtrends2024-2024&utm_content=body&gad_source=1&gclid=EAIaIQobChMIrbWY4s3phQMVXhuDAx3JDg3pEAAYAiAAEgLqTvD_BwE">Deloitte Australia in partnership with AWS is building.. 
                </a>.</p>
                  <div class="row">
                    <div class="col-sm-5">
                   <p>27 Jun 2024  |</p>
                    </div>
                    <div class="col-sm-7">
                       <b><p>Oina Kerchner</p></b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
    </div>
    <div class="tab-pane fade" id="Synergize" role="tabpanel" aria-labelledby="Synergize-tab">
        <div class="row">
            <div class="col-sm-4">
        <div class="card assets">
            <img class="card-img-top" src="https://brandspace.deloitte.com/downloads/6532e3e830dcc/lg_DSCF3289.jpg.jpg" alt="Card image">
            <div class="card-body">
              <h6 class="card-title">Deloitte Hackathon</h6>
              <p class="card-text"><a href="https://www.deloitte.com/au/en/Industries/technology/research/tech-trends.html?id=au:2ps:3gl:4con-techtrends2024-2024::6con:20240404::int-wt-sea&utm_source=google&utm_medium=cpc&utm_campaign=con-techtrends2024-2024&utm_content=body&gad_source=1&gclid=EAIaIQobChMI1uqR8tDphQMVYKNmAh0CgAAHEAAYASAAEgKWv_D_BwE">Anchored by Deloitte Australia, GRAVITY Challenge has evolved into one of the leading platforms ..

            </a>.</p>
              <div class="row">
                <div class="col-sm-5">
               <p>27 Jun 2024  |</p>
                </div>
                <div class="col-sm-7">
                   <b><p>Oina Kerchner</p></b>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>

</div>
   -->


       <!-- <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            <p class="heading">Industry Reports</p>
            <div class="card">
              <img class="card-img-top" src="https://brandspace.deloitte.com/downloads/6532e3e830dcc/lg_DSCF3289.jpg.jpg" alt="Card image">
              <div class="card-body">
                <h6 class="card-title">World Economic Form</h6>
                <p class="card-text"><a href="https://www.deloitte.com/global/en/issues/climate/the-catalytic-potential-of-artificial-intelligence-for-earth-observation.html">At the 54th annual meeting of WEF, Deloitte Space and Deloitte Sustainability..</a>.</p>
                <div class="row">
                  <div class="col-sm-5">
                    <p>27 Jun 2024  |</p>
                  </div>
                  <div class="col-sm-7">
                     <b><p>Oina Kerchner</p></b>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="https://brandspace.deloitte.com/downloads/5d76b3048a3e3/lg_shutterstock_585502937.jpg.jpg" alt="Card image">
              <div class="card-body">
                <h6 class="card-title">Nasscom</h6>
                <p class="card-text"><a href="https://www2.deloitte.com/in/en/pages/strategy-operations/articles/emerging-technology-hubs-of-india-nasscom.html">Deloitte India has published a detailed industry report on the market potential of..</a>.</p>
                <div class="row">
                  <div class="col-sm-5">
                    <p>27 Jun 2024  |</p>
                  </div>
                  <div class="col-sm-7">
                     <b><p>Oina Kerchner</p></b>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="https://brandspace.deloitte.com/downloads/5d7be318f2be9/lg_shutterstock_401914537.jpg.jpg" alt="Card image">
              <div class="card-body">
                <h6 class="card-title">Indian Space Association</h6>
                <p class="card-text"><a href="https://www2.deloitte.com/in/en/pages/public-sector/articles/Indias-booming-space-economy-opportunities-for-downstream-spacetech.html">The report was co-published with the space and software industry..</a>.</p>
                <div class="row">
                  <div class="col-sm-5">
                    <p>27 Jun 2024  |</p>
                  </div>
                  <div class="col-sm-7">
                     <b><p>Oina Kerchner</p></b>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div class="col-sm-4">
            <p class="heading">Deloitte Assets</p>
            <div class="card">
              <img class="card-img-top" src="https://brandspace.deloitte.com/downloads/5f15d5420407c/lg_450769843.jpg.jpg" alt="Card image">
              <div class="card-body">
                <h6 class="card-title">Google Earth Engine</h6>
                <p class="card-text"><a href="https://www.deloitte.com/global/en/alliances/google.html">Deloitte UK in partnership with Google is building use-cases on top of Google Earth..</a>.</p>
                <div class="row">
                  <div class="col-sm-5">
                    <p>27 Jun 2024  |</p>
                  </div>
                  <div class="col-sm-7">
                     <b><p>Oina Kerchner</p></b>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="https://brandspace.deloitte.com/downloads/6312a2472aa8c/lg_GettyImages-1336250828.jpg" alt="Card image">
              <div class="card-body">
                <h6 class="card-title">AWS</h6>
                <p class="card-text"><a href="https://www.deloitte.com/au/en/Industries/technology/research/tech-trends.html?id=au:2ps:3gl:4con-techtrends2024-2024::6con:20240404::int-wt-sea&utm_source=google&utm_medium=cpc&utm_campaign=con-techtrends2024-2024&utm_content=body&gad_source=1&gclid=EAIaIQobChMIrbWY4s3phQMVXhuDAx3JDg3pEAAYAiAAEgLqTvD_BwE">Deloitte Australia in partnership with AWS is building..</a>.</p>
                <div class="row">
                  <div class="col-sm-5">
                    <p>27 Jun 2024  |</p>
                  </div>
                  <div class="col-sm-7">
                     <b><p>Oina Kerchner</p></b>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div class="col-sm-4">
            <p class="heading">Synergize with On-going Deloitte Space Initiatives</p>
            <div class="card">
              <img class="card-img-top" src="https://brandspace.deloitte.com/downloads/6532e3e830dcc/lg_DSCF3289.jpg.jpg" alt="Card image">
              <div class="card-body">
                <h6 class="card-title">Deloitte Hackathon</h6>
                <p class="card-text"><a href="https://www.deloitte.com/au/en/Industries/technology/research/tech-trends.html?id=au:2ps:3gl:4con-techtrends2024-2024::6con:20240404::int-wt-sea&utm_source=google&utm_medium=cpc&utm_campaign=con-techtrends2024-2024&utm_content=body&gad_source=1&gclid=EAIaIQobChMI1uqR8tDphQMVYKNmAh0CgAAHEAAYASAAEgKWv_D_BwE">Anchored by Deloitte Australia, GRAVITY Challenge has evolved into one of the leading..</a>.</p>
                <div class="row">
                  <div class="col-sm-5">
                    <p>27 Jun 2024  |</p>
                  </div>
                  <div class="col-sm-7">
                     <b><p>Oina Kerchner</p></b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->






      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4" *ngIf="industryreports">
            <p class="heading">Industry Reports</p>
            <div class="card" *ngFor="let report of industryreports">
              <img class="card-img-top" [src]="report.fields['imgurl']" alt="Card image">
              <div class="card-body">
                <h6 class="card-title">{{ report.fields['tittle'] }}</h6>
                <p class="card-text"><a [href]="report.fields['url']">{{ report.fields['urltext'] }}</a>.</p>
                <div class="row">
                  <div class="col-sm-5">
                    <p>{{ report.fields['date'] }}  |</p>
                  </div>
                  <div class="col-sm-7">
                     <b><p>{{ report.fields['author'] }}</p></b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
      
          <div class="col-sm-4" *ngIf="deloitteassets">
            <p class="heading">Deloitte Assets</p>
            <div class="card" *ngFor="let deloitte of deloitteassets">
              <img class="card-img-top" [src]="deloitte.fields['imgurl']" alt="Card image">
              <div class="card-body">
                <h6 class="card-title">{{ deloitte.fields['tittle'] }}</h6>
                <p class="card-text"><a [href]="deloitte.fields['url']">{{ deloitte.fields['urltittle'] }}</a>.</p>
                <div class="row">
                  <div class="col-sm-5">
                    <p>{{ deloitte.fields['date'] }}  |</p>
                  </div>
                  <div class="col-sm-7">
                     <b><p>{{ deloitte.fields['author'] }}</p></b>
                  </div>
                </div>
              </div>
            </div>
          </div>
    

          <div class="col-sm-4" *ngIf="synergizeinitiatives">
            <p class="heading">Synergize with On-going Deloitte Space Initiatives</p>
            
            <div class="card" *ngFor="let synergize of synergizeinitiatives">
              <img class="card-img-top" [src]="synergize.fields['imgurl']" alt="Card image">
              <div class="card-body">
                <h6 class="card-title">{{ synergize.fields['tittle'] }}</h6>
                <p class="card-text"><a [href]="synergize.fields['url']">{{ synergize.fields['urltittle'] }}</a>.</p>
                <div class="row">
                  <div class="col-sm-5">
                    <p>{{ synergize.fields['date'] }}  |</p>
                  </div>
                  <div class="col-sm-7">
                     <b><p>{{ synergize.fields['author'] }}</p></b>
                  </div>
                </div>
              </div>
              </div>
            </div>
        

        </div>
      </div>
      
    
   
