.nav-link{
  color: white;
  margin-left: 45px;
  font-size: 15px;
}
.Global{
  font-size: 12px;
  
}
img{
  width:120px;
  height:34px;
}
.bg{
  background-color: #000000;
  font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
  height: 80px;
}

.fa-user{
  color: white;
  margin-right: 40px;
  
}
.form-control {
  height: 28px;
  line-height: 30px;
}

.btn-outline-light {
  height: 28px;
  line-height: 30px;
}

.fs {
margin-bottom: 6px;
}

.dropdown {
position: relative;
display: inline-block;
margin-left: 30px;

}

/* Dropdown button */
.dropbtn {
background-color: transparent;
color: white;
padding: 8px 16px;
border: none;
cursor: pointer;
font-size: 15px;
font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
}


.dropdown-content {
display: none;
position: absolute;
background-color: #3A383A;
min-width: 160px;
z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
color: #ffffff;
/* padding: 12px 16px; */
padding: 6px 6px;
text-decoration: none;
display: block;
font-weight: bold;

font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
/* background-color: #63666a; */
text-decoration: underline;
}


.dropdown:hover .dropdown-content {
display: block;
width: 900px;
height: 650px;
margin-left: -100px;
text-align: left;
padding-top: 10px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  border-bottom: 4px solid #86bc25;
color: #86bc25;
}

.dropdown:hover .dropbtn .fa-chevron-down {
  transform: rotate(180deg);
  font-size: 2px solid;
}

.col-3 a:nth-child(n+2) {
  color: #bbbcbc;
  font-size: 14px;
  font-family: 'Open Sans', Verdana, Helvetica, sans-serif;  
  font-weight: normal;
}



.search-container {
position: relative;
z-index: 1000;
padding-bottom: 2px;
padding-left: 380px;
}

.search-container ul {
position: absolute;
top: calc(100% + 5px);
left: 0;
/* width: 100%; */
width: 220px;
margin-left: 380px;
padding: 5px 0;
max-height: 200px;
overflow-y: auto;
scrollbar-width: thin; /* Firefox */
scrollbar-color: #888 transparent; /* Firefox */
background-color: #ffffff;
}

.search-container ul::-webkit-scrollbar {
width: 8px;
}

.search-container ul::-webkit-scrollbar-track {
background: transparent;
}

.search-container ul::-webkit-scrollbar-thumb {
background-color: #888;
border-radius: 4px;
border: 2px solid transparent;
}

.search-container ul::-webkit-scrollbar-thumb:hover {
background-color: #666;
}

.search-container ul li {
list-style-type: none;
padding: 5px 0;
margin: 0;
}

.search-container ul li a {
display: block;
color: #333;
text-decoration: none;
padding: 5px;
font-size: 12px;

}

.search-container ul li:hover {
background-color: #333;
}

.search-container ul li:hover a {
color: #ffffff;

}

.card {
border: none;

}

@media (max-width: 768px) {
  .navbar-nav {
    margin-left: -30px;
  }

  .navbar-nav .nav-link {
    display: block;
    padding: 0.5rem 1rem;
  }

  .search-container {
    padding-left: 0;
    margin-right: 20px;
  }

  .search-container ul {
    margin-left: 0;
    width: auto;
    max-width: 220px;
  }

  .fa-user {
    margin-right: 30px;
  }

  .collapse {
    background-color: #000000;
    margin-top: -6px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
  }



  .col-3 a:nth-child(n+2) {
    color: #bbbcbc;
    font-size: 8px;
    font-family: 'Open Sans', Verdana, Helvetica, sans-serif;  
    font-weight: normal;
  }

  .col-3 a{
    font-size: 9px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    width: 360px;
    height: 650px;
    margin-left: -3px;
    text-align: left;
    padding-top: 10px;
    overflow-y: auto;
}
    .dropdown-content {
     
      overflow-y: auto;
      max-height: 300px;  
    }

    /* .Global{
      font-size: 12px;
      
    }
    img{
      width:120px;
      height:34px;
    } */
}




