
<!-- <ul>
    <li *ngFor="let investment of investments" [id]="generateId(investment.headline)">
      <h2>{{ investment.fields.headline }}</h2>
      <p>{{ investment.fields.detail }}</p>
      <p>Country: {{ investment.fields.country }}</p>
      <p>Date: {{ investment.fields.date }}</p>
      <p>Impact: {{ investment.fields.impact }}</p>
      <p>Contact: {{ investment.fields.contact }}</p>
      <a [href]="investment.fields.link" target="_blank">Link</a>
    </li>
  </ul> -->

  <div class="container-fluid">
    <!-- <h3>Investment And Funding</h3> -->
    <div *ngFor="let investment of investments" [id]="generateId(investment.fields.headline)">
      <h4>{{ investment.fields.heading }}</h4>
      <h3 class="headline">{{ investment.fields.headline }}  | <em class="date"><strong></strong> {{ investment.fields.date }}</em></h3>
      <p>{{ investment.fields.country }}</p>
      <p class="detail">{{ investment.fields.detail }}</p>
      <p class="impact">{{ investment.fields.impact }}</p><br>
      <!-- <a class="read-more" [href]="investment.fields.link" target="_blank">Read more</a> -->
      <p class="contact"><strong>Contact:</strong> {{ investment.fields.contact }}</p>
    </div>
  </div>

  
  
  
  
  