  <!-- <div>
    <input type="text" [(ngModel)]="searchQuery" (input)="search()" placeholder="Search..." />
    <ul *ngIf="showSuggestions">
      <li *ngFor="let suggestion of suggestions" (click)="redirectToContent(suggestion)">
        <strong>{{ suggestion.fields.headline }}</strong> 
        <p>{{ suggestion.snippet }}</p>
      </li>
    </ul>
  </div> -->

  

  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" href="#">
      <img src="./assets/images/deloitte.svg" alt="" width="120" height="34">
      <p class="Global">Global Downstream Space COE</p> 
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Guild
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul> -->
      <form class="fr">
        <input type="text" [(ngModel)]="searchQuery" name="searchQuery" (input)="search()" placeholder="Search..." />
        <ul *ngIf="showSuggestions">
          <li *ngFor="let suggestion of suggestions" (click)="redirectToContent(suggestion)">
            <strong>{{ suggestion.fields.headline }}</strong> 
            <p>{{ suggestion.snippet }}</p>
          </li>
        </ul>
      </form>
      
      <!-- <ul class="navbar-nav ms-3">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-user"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav> -->
  

